body {
  background-color: 	rgb(255, 247, 255);
  
 
}
.container{
color: black;
}

.message{
color: black;
}
p{
color: black;
}
th{
	
color: 	#FFFFFF;
}


#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 25%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid rgb(161, 202, 221); /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
  color: black;
  background-color: #FFFFFF;
}

#myTable {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}

#myTable th, #myTable td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px  #FFFFFF;
}

#myTable tr.header {
  /* Add a grey background color to the table header and on hover */
  background-color: rgb(0, 0, 0);
}

#myTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: rgb(161, 202, 221);
}

.my-custom-scrollbar {
position: relative;
height: 200px;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}


